<div class="product">
  {% assign media_gallery_blocks = section.blocks | where: 'type', 'feat-prod-media-gallery' %}
  {% if media_gallery_blocks.size > 0 %}
    {% for block in media_gallery_blocks %}
      {% render 'feat-prod-media-gallery', with block: block, section: section %}
    {% endfor %}
  {% endif %}

  <div class="product-info" {% render 'section-properties', tight: true %}>
    {%- capture product_form_id -%}featured-product-form-{{ section.id }}{%- endcapture -%}

    <div class="product-info__container">
      {%- for block in section.blocks -%}
        {% case block.type %}
          {% when 'feat-prod-vendor' %}
            {% render 'feat-prod-vendor' %}

          {% when 'feat-prod-title' %}
            {% render 'feat-prod-title' %}

          {% when 'feat-prod-price' %}
            {% render 'feat-prod-price' %}

          {% when 'feat-prod-separator' %}
            {% render 'feat-prod-separator' %}

          {% when 'feat-prod-description' %}
            {% render 'feat-prod-description' %}

          {% when 'variant-picker' %}
            {% render 'variant-picker' %}

          {% when 'feat-prod-quantity-select' %}
            {% render 'feat-prod-quantity-select' %}

          {% when 'feat-prod-buy-buttons' %}
            {% render 'feat-prod-buy-buttons' %}
        {% endcase %}
      {%- endfor -%}
    </div>
  </div>
</div>
